* { /*Configuración gral para el manejo de tamaños*/
    box-sizing: border-box;
}

/*Define el aspecto gral de la pág*/
body {
    margin: 0;
    min-height: 100vh; /*el body tenga como min el alto de la pantalla*/

    background-image: url("../img/fondoGlitter.gif");
    background-color: black;
    background-repeat: repeat;

    font-family: Georgia, "Times New Roman", serif;
    color: white;
}

/*Diseño de la barra superior*/
header {
    height: 50px;
    background-color: #CBAC59;
    color: black;

    display: flex; /*Acomoda elementos dentro de un contenedor*/
    justify-content: space-between; /*Manda un elemeto hacia un ext y el otro hacia el otro ext*/
    align-items: center; /*centra los elementos vertialmente*/

    padding: 0 20px;
    font-size: 22px;
}
 /*Diseño de los enlaces*/
a {
    text-decoration: none; /*elimina el subrayado*/
    color: #ffffff;
}

/*Define el espacio del contenido principal*/
main {
    width: 100%;
    padding: 15px 20px;
}
/*Diseña COMPRAR TICKET*/
h1 {
    text-align: center;
    color: #CBAC59;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 15px;
}

/*diseño de la caja principal donde se muestra cada etapa del proceso de compra*/
.contenedor-compra {
    width: 900px;
    max-width: 90%;

    margin: 0 auto;
    padding: 25px 40px;

    background-color: #2B2B2B;
    border: 2px solid #CBAC59;
    border-radius: 12px;
}

/*aplican diseño solamente a estos elementos cuando están dentro del contenedor de compra*/
.contenedor-compra h2 {
    color: #CBAC59;
    font-size: 28px;
    font-weight: normal;
    margin-top: 0;
}

.contenedor-compra p {
    font-size: 20px;
}

/*organiza horizontalmente el label y el select de película, día y horario*/
.opcion-compra {
    display: flex;
    align-items: center;
    gap: 20px; /*separación entre elementos*/

    margin-top: 20px;
}

.contenedor-compra h3 {
    color: #CBAC59;
    font-size: 22px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 15px;
}

/*diseño del selector de entradas*/
.tipo-entrada {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
/*le da el mismo ancho a todas las etiquetas(label)*/
.tipo-entrada label {
    width: 190px;
    font-size: 18px;
}
/*Da formato al desplegable de tipo de entrada*/
.tipo-entrada select {
    width: 120px;
    height: 45px;

    background-color: #CBAC59;
    border: none;
    border-radius: 8px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;

    padding: 0 10px;
    cursor: pointer;
}


/*mismo ancho a todas las etiquetas*/
.opcion-compra label {
    font-size: 20px;
}
/*Da formato al desplegable de opcio compra*/
.opcion-compra select {
    width: 180px;
    height: 45px;

    background-color: #CBAC59;
    border: none;
    border-radius: 8px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;

    padding: 0 10px;
    cursor: pointer;
}

/*resalta visualmente el precio*/
.total {
    color: #CBAC59;
    font-size: 26px !important; /*obliga que el tamaño del total sea 26px*/
    margin-top: 25px;
}

/*diseña el boton de confirmar compra*/
.boton-confirmar {
    width: 300px;
    height: 60px;

    margin: 25px auto 0;

    background-color: #CBAC59;
    color: black;

    border: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 20px;

    cursor: pointer;
}


/* STEPPER */

/*orgaiza todos los pasos horizontalmente, utiliza flexbox para distribuirlos*/
.stepper {
    width: 850px;
    max-width: 90%;
    margin: 20px auto 30px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*Da diseño a cada paso individual*/
.paso {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #808080;
}

/*diseño de los circulos del stepper*/
.circulo {
    width: 40px;
    height: 40px;

    border: 2px solid #808080;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.paso p {
    margin: 8px 0 0;
    font-size: 16px;
}
/*diseño de las lineas que unen los pasos*/
.linea {
    width: 90px;
    height: 2px;

    background-color: #808080;

    margin-top: 20px;
}

/* PASO ACTUAL */
.paso.activo {
    color: #CBAC59;
}

.paso.activo .circulo {
    border-color: #CBAC59;
    background-color: #CBAC59;
    color: black;
}

/* CONTENIDO DE CADA PASO */
/*por defecto todos los contenidos de los pasos están ocultos*/
.contenido-paso {
    display: none;
}

/*muestra el que tenga clse activo (js cambia estas clases)*/
.contenido-paso.activo {
    display: block;
}

/* PASOS COMPLETADOS */

.paso.completado {
    color: #CBAC59;
}

.paso.completado .circulo {
    border-color: #CBAC59;
    background-color: #CBAC59;
    color: black;
}

/*estilos de compra-exitosa (js genera dinámicamente los elementos)*/
.compra-exitosa {
    text-align: center;
    padding: 30px;
}

.compra-exitosa h2 {
    color: #CBAC59;
    font-size: 28px;
    margin-bottom: 25px;
}

.compra-exitosa p {
    font-size: 18px;
    margin: 10px 0;
}

.compra-exitosa .total {
    font-size: 24px;
    color: #CBAC59;
    margin-top: 20px;
}

/*aplico los estilos q comparten ambos botones*/
.boton-siguiente,
.boton-anterior {
    min-width: 140px;
    height: 45px;

    margin-top: 25px;
    margin-right: 10px;
    padding: 0 20px;

    border: none;
    border-radius: 8px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;

    cursor: pointer;
}
/*definimos por separado los colores*/
.boton-siguiente {
    background-color: #CBAC59;
    color: black;
}

.boton-anterior {
    background-color: #808080;
    color: white;
}
/*acomoda los campos de pago*/
.campo-pago {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}
/*hace q las etiquetas tengan el mismo ancho y se alineen*/
.campo-pago label {
    width: 190px;
    font-size: 18px;
}
/*aspecto de los cuadrados donde escribe el usuario*/
.campo-pago input {
    width: 400px;
    height: 45px;

    padding: 0 10px;

    border: 1px solid #CBAC59;
    border-radius: 6px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
}
/*Da espacio y orden visual al resumen final*/
.resumen-compra {
    padding: 10px 0;
}

.resumen-compra p {
    margin: 10px 0;
}