body{
    background-image: url(../img/fondoGlitter.gif);
    margin: 0;
}


.header {
    width: 100%;       /* Ocupa todo el ancho de la pantalla */
    height: 580px;      /* Altura fija del header */
    padding: cover;   /* Espacio interno a los lados */
    top: 0px;
    background-image: url(../img/CineMasterBannerInicio.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.txtPortada {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

.estrenos {
    display: flex;
    gap: 20px;
}

.peliculas{
    display: flex;
    gap: 20px;
}

main {
    
}